*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

.innovation{
    background-image: url('./asserts/home14.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    
}

.inno_color{
    background-color: rgba(0, 0, 0, 0.174);
    height: 100vh;
}

/*NAVBAR*/
.Interior_navbar{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.47);
    padding: 6px 0px;
   
}

.one{
    /* border: 1px solid green; */
}

.one img{
    width: 250px;
    height: 80px;
}


.two{
     /* border: 1px solid green; */
     display: flex;
     gap: 20px;
     /* padding: 25px 0px; */
     font-family: verdana;
}

.two_navbar{
      /* border: 1px solid red; */
      display: flex;
      gap: 30px;
      font-size: 18px;
      padding: 25px 0px;
}

.two_search{
    display: flex;
    gap: 20px;
}

.search{
    font-size: 20px;
    padding: 25px 0px;
}

.get{
      padding: 15px 0px;
}

.get button{
   padding: 10px 15px;
   font-size: 18px;
   background-color: #5a3d1b;
   color: white;
   border: #5a3d1b;
   border-radius: 5px;
}

.content{
    /* border: 1px solid red; */
    margin: 150px 0px 0px 80px;
    width: 51%;
    color: white;
    font-family: verdana;
    display: flex;
    flex-direction: column;
    gap: 25px;
   
}

.best{
   display: flex;
    flex-direction: column;
    gap: 15px;
}

.best h3,h4{
    text-transform: uppercase;
}

.best h4{
    font-size: 15px;
}

.best h3{
    font-size: 50px;

}

.best p{
    line-height: 28px;
    font-size: 17px;
}

.innov_button{
   /* border: 1px solid red; */
   display: flex;
   gap: 20px;
}

.buttons_one button{
    display: flex;
    gap: 8px;
    color: white;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: #5a3d1b;
    border: #5a3d1b;
    font-weight: 600;
    font-size: 16px;
   
   
}

.buttons_one span{
    font-size: 18px;
   
}

.buttons_two button{
    display: flex;
    gap: 8px;
    color: white;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: #141b1f;
    border: #141b1f;
    font-weight: 600;
    font-size: 16px;
   
}

.buttons_two span{
    font-size: 18px;
}

/*ABOUT*/

.about{
    /* border: 1px solid red; */
    margin: 100px 0px;
    display: grid;
    grid-template-columns: 42% 40%;
    justify-content: center;
    gap: 130px;
    font-family: verdana;
}
.about_img{
     /* border: 1px solid green; */
     display: grid;
     grid-template-columns: 50% 50%;   
     
}
/*FAKE - MEDIA*/
/*ONE*/
.fake{
        /* border: 1px solid green; */
        display: none;
}

.fake img{
       object-fit: cover;
}
/*TWO*/
/* .fake_two{
        display: grid;
        grid-template-columns: 50% 50%;
        display: none;
}

.fake_two img{
       object-fit: cover;
} */

/* .img_one{
     border: 1px solid red;
} */
/* .img2{
      border: 1px solid red; 
} */
.img1{
      /* border: 1px solid red; */   
}
.img2{
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: 45% 45%;
}
.img_two{
     /* border: 1px solid red; */
     display: grid;
     grid-template-columns: 50% 50%;
    
}
.about_content{
     /* border: 1px solid green; */
     display: flex;
     flex-direction: column;
     gap: 23px;
}
.about_content h4{
   font-size: 19px;
}
.about_content h3{
   font-size: 40px;
}
.about_content p{
    line-height: 25px;
    color: rgb(149, 146, 146);
    font-size: 15px;
}
.tick{
    display: flex;
    gap: 10px;
}
.tick p{
    color: black;
}
.discover button{
    display: flex;
    gap: 10px;
    border: #5a3d1b;
     background-color: #5a3d1b;
     color: white;
     padding: 10px 15px;
     font-size: 16px;
     font-weight: 600;
     text-transform: uppercase;
    border-radius: 5px;
}

/* WHAT WE DO*/
.do{
     /* border: 1px solid red; */
    font-family: verdana;
}
.do_servies{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 10px;
}

.do_card{
    padding: 50px 0px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    gap: 35px;
}
.do_card img{
    object-fit: cover
}
.do_servies h4{
   font-size: 19px;
}
.do_servies h3{
    font-size: 40px;
}
.do_servies p{
     color: rgb(149, 146, 146);
     padding-top: 25px;
}
.card_one{
    background-image: url('./asserts/home7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    /* border: 1px solid red; */
    border-radius: 20px;
     position: relative;
  
}
.card_one img{
     /* border: 1px solid red; */
    border-radius: 20px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #67686870;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.text {
  color: white;
  font-size: 15px;
  font-family: verdana;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.card_one:hover .overlay {
    height: 25%;
  border-radius: 15px;
}
.card_two{
    background-image: url('./asserts/home9.jpg');
     background-repeat: no-repeat;
     background-size: cover;
    height: 60vh;
     /* border: 1px solid red; */
    border-radius: 20px;
     position: relative;
  
}
.card_two img{
     /* border: 1px solid red; */
    border-radius: 20px;
}
.card_two:hover .overlay {
    height: 25%;
  border-radius: 15px;
}
.card_three{
     background-image: url('./asserts/home10.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    height: 60vh;
     /* border: 1px solid red; */
    border-radius: 20px;
     position: relative;
  
}
.card_three img{
     /* border: 1px solid red; */
    border-radius: 20px;
}
.card_three:hover .overlay {
    height: 25%;
  border-radius: 15px;
}
.card_four{
    background-image: url('./asserts/home11.jpg');
     background-repeat: no-repeat;
     background-size: cover;
    height: 60vh;
     /* border: 1px solid red; */
    border-radius: 20px;
     position: relative;
  
}
.card_four img{
     /* border: 1px solid red; */
    border-radius: 20px;
}
.card_four:hover .overlay {
    height: 25%;
  border-radius: 15px;
}

/*VIDEO*/
.video{
    margin: 80px 0px;
    background-image: url('./asserts/home20.jpg');
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
      color: white;
     font-family: verdana;
}
.video_content{
    /* border: 1px solid red; */
    width: 55%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin: auto;
     gap: 30px;
     padding-top: 140px;
}
.video_content h3{
     text-transform: capitalize;
     font-size: 40px;
    
   
}
.video_content button{
    padding: 15px 15px;
    border-radius: 5px;
    background-color: #141b1f;
    border: #141b1f;
    color: white;
     font-size: 16px;
     font-weight: 600;
     text-transform: uppercase;
}

/*CLIENT*/
.client{
    /* border: 1px solid red; */
    font-family: verdana;
}
.client_head{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.client_head h3{
    font-size: 40px;
}
.client_head p{
    padding-top: 10px;
}
.owl-item {width: 128.906px; margin-right: 10px; background:rgba(222, 214, 214, 0.31); }


/** to hide dots

.owl-theme .owl-dots .owl-dot{ display:none!important;}

**/

.clients{
    /* border: 1px solid red; */
    padding: 90px 0px;
    display: grid;
    grid-template-columns: 28% 28% 28%;
    justify-content: center;
    gap: 40px;
}
.clients_content{
    /* border: 1px solid green; */
box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;    border-radius: 10px;
padding: 15px 15px;
 display: flex;
 flex-direction: column;
gap: 8px;
border-radius: 10px;
}
.client_head p{
    color: rgb(123, 121, 121);
}
.up{
        /* border: 1px solid red; */
        display: flex;
        gap: 140px;
}
.up_dp{
      /* border: 1px solid red; */
        display: flex;
        gap: 15px;
         padding-top: 10px;
}
.up_name{
    /* padding-top: 5px; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.up_name p{
    font-size: 10px;
}
.up_dp p{
    font-size: 15px;

}
.low{
          /* border: 1px solid red; */
          display: flex;
          flex-direction: column;
          gap: 8px;
}
.low p{
    font-size: 13px;
    color: rgb(123, 121, 121);
}
.low span{
    font-size: 13px;
}

/*LAST*/
.last{
/* border: 1px solid red; */
display: grid;
grid-template-columns: 25% 15% 15% 20%;
justify-content: center;
background-color: #281a0a;
padding: 100px 0px;
font-family: verdana;
color: white;
gap: 70px;
}
.last_content{
/* border: 1px solid green; */
}
.logo_one img{
   width: 150px;
   height: 50px;
}
.last_para{
    line-height: 25px;
}
/* .followers{
   
    background-color: white;
    border-radius: 50%;
    padding: 10px 10px;
} */
.one_up{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.last_content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.last_quick{
    /* border: 1px solid red; */
        line-height: 45px;
}
.last_quick p{
    font-size: 17px;
}
.last_sub{
    line-height: 30px;
}
.last_sub p{
    padding-top: 20px;
}
.Subscribe{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}
.Subscribe input{
   width: 100px;
   padding: 15px 10px;
}
.Subscribe button{
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #5a3d1b;
    border: #5a3d1b;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.icons{
    /* border: 1px solid red; */
    display: flex;
    gap: 15px;
}
.icons span{
    font-size: 20px;
    color: rgb(0, 0, 0);
       background-color: white;
    border-radius: 50%;
    padding: 10px 10px;
}

/*HOVERING*/
.buttons_one button:hover{
   background-color: #141b1f;
  
}

.buttons_two button:hover{
   background-color: #5a3d1b;
  
}

.quote button:hover{
    background-color: #141b1f;
    color: white;
}

/*ABOUT*/
.discover button:hover{
    background-color: #141b1f;
}

/*VIDEO*/
.video_content button:hover{
    background-color: #5a3d1b;
}

/*LAST*/
.Subscribe button:hover{
    background-color: #141b1f;
}



/*MEDIA QUERIES*/
/*0 - 426px*/
@media screen and (min-width: 0px) and (max-width : 426px){
    /*NAVBAR*/
    .innovation{
    background-image: url('./asserts/home1.png');
    height: 100vh;
    }
    
    .two{
        display: none;
    }
   .best h3{
    font-size: 35px;
    }
    .content{
    margin: 80px 150px 0px 10px;
    width: 85%;
    }
    .best h4{
        /* border: 1px solid red; */
        width: 20px;
        letter-spacing: 1px;
        line-height: 20px;
        font-size: 18px;
    }
    .best p{
    line-height: 28px;
    font-size: 16px;
    }

    /*ABOUT*/
    .about{
        grid-template-columns: 90%;
        gap: 50px;
    }
    .about_img{
        display: none;
    }
    .fake{
        display: block;
        border: #141b1f;
    }

    /*WE DO*/
    .do_servies p{
      text-align: center;
    }
    .do_card{
        grid-template-columns: 90%;
    }

    /*VIDEO*/
    .video{
        margin: 50px 0px;
    }
   .video_content{
    /* border: 1px solid red; */
     width: 90%;
   }
   .video_content h3{
     font-size: 25px;
}

/*CLIENT*/
    .client{
        justify-content: space-around;
    }
.clients{
    grid-template-columns: 90%;
}
.up{
        gap: 100px;
}
.up_name p{
    font-size: 11px;
    padding-top: 5px;
}

/*LAST*/
.last{
    display: grid;
    grid-template-columns: 90%;
    font-size: 15px;
}
    
   
    
    
}

/*426px - 768px*/
@media screen and (min-width: 426px) and (max-width: 768px){
   /*NAVBAR*/
    .two{
        display: none;
    }
   .best h3{
    font-size: 35px;
    }
    .content{
    margin: 110px 95px 0px 20px;
    width: 85%;
    }
    .best h4{
        /* border: 1px solid red; */
        letter-spacing: 1px;
        line-height: 20px;
        font-size: 15px;
    }
    .best p{
    line-height: 28px;
    font-size: 16px;
    }

     /*ABOUT*/
    .about{
        grid-template-columns: 90%;
        gap: 50px;
    }
    .about_img{
        display: none;
    }
    .fake{
        display: block;
    }

       /*WE DO*/
    .do_servies p{
      text-align: center;
    }
    .do_card{
        grid-template-columns: 45% 45%;
    }

        /*VIDEO*/
    .video{
        margin: 50px 0px;
    }
   .video_content{
    /* border: 1px solid red; */
     width: 90%;
   }
   .video_content h3{
     font-size: 30px;
    }

    /*CLIENT*/
    .client{
        justify-content: space-around;
    }
.clients{
    grid-template-columns: 90%;
}
.up{
      gap: 180px;
}

/*LAST*/
.last{
    display: grid;
    grid-template-columns: 90%;
      font-size: 15px;
}


}

@media screen and (min-width: 769px) and (max-width: 1024px){
    /*NAVBAR*/
    .one{
    padding: 10px 0px;
    }
   .one img{
    width: 150px;
    height: 50px;
   }
   .two{
    display: none;
   }
   /* .two_search{
    display: none;
   }
   .two_navbar{
    font-size: 17px;
   } */
    .content{
    margin: 110px 100px 0px 20px;
    
    /* border: 1px solid red; */
    }
    .best h3{
        font-size: 40px;
    }
    .best p{
        font-size: 18px;
    }
    
       /*ABOUT*/
    .about{
        grid-template-columns: 45% 45%;
        gap: 40px;
    }
    .about_img img{
        object-fit: cover;
    }
    .about_content{
        gap: 15px;
    }
    .about h3{
        font-size: 25px;
    }
    .about h4{
        font-size: 15px;
    }
    .about_content p{
        font-size: 13px;
        line-height: 22px;
    }

    /*WE DO*/
     .do_servies p{
      text-align: center;
    }
     .do_card{
       gap: 20px;
    }
    .card_one{
        height: 50vh;
    }
     .card_two{
        height: 50vh;
    }
     .card_three{
        height: 50vh;
    }
    .card_four{
        height: 50vh;
    }

         /*VIDEO*/
    .video{
        margin: 50px 0px;
    }
   .video_content{
    /* border: 1px solid red; */
     width: 80%;
   }
   .video_content h3{
     font-size: 34px;
    }

    /*CLIENT*/
    .client{
        justify-content: space-around;
    }
.clients{
    grid-template-columns: 32% 32% 32%;
    gap: 10px;
}
.up{
        gap: 50px;
}
.up_name p{
    font-size: 10px;
    padding-top: 5px;
}
.low p{
    font-size: 11px;
}

    
}


